@CHARSET "UTF-8";

html, body {
	height: 100%;
}

@media screen and (max-width: 600px) {
	.firstDiv {
		height: 100%;
		z-index: 10;
		display: none;
	}
	.bottomArrow, .logo {
		visibility: visible;
	}
	.parallax {
		/* The image used*/ 
		/*background-image: url("#{resource['images/mabello-logo-600.gif']}");*/
		/* Set a specific height */
		/*min-height: 500px; 

    /* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (min-width: 601px) {
	.firstDiv {
		background-image: url("#{resource['images/parallax-2.jpg']}");
		background-size: 250px;
		background-repeat: no-repeat;
		/*background-color: #b3dcd9;*/
		color: white;
		height: 100%;
		z-index: 1;
		display: none;
	}
	.bottomArrow, .logo {
		visibility: visible;
	}
	.parallax {
		min-height: 500px;
		/* The image used 
	background-image: url("#{resource['images/parallax-4.jpg']}");*/
		/* Set a specific height */
		/*min-height: 500px; 

    /* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
/*p{
	text-shadow:1px 1px 0 #444;
}*/
#menu-icon {
	margin-left: -8px;
	-webkit-animation: menuIcon 54s infinite alternate;
	animation: menuIcon 4s infinite alternate;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@
keyframes menuIcon {
	from {opacity: 1;
}

to {
	opacity: 0.125;
}

}
@
-webkit-keyframes menuIcon {
	from {opacity: 1;
}

to {
	opacity: 0.125;
}

}
.fa-input {
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainContainer {
	height: 100%;
	width: 100%;
}

img {
	width: 100%;
	/*height: auto;
    /*width: auto\9; /* ie8 */
}